@import 'src/index.scss';

.About-me {
    & h2 {
        font-family: $headline-font;
        font-size: $font-36;
        animation: track-in 1.5s forwards;
        @include track-in-animation(track-in);
        margin: 24px 0;
    }
    & p {
        width: 60%;
        font-family: $text-font;
        font-size: $font-16;
        animation: track-in 3s forwards;
        @include track-in-animation(track-in);
        line-height: 28px;
    }
}

@media (min-width:320px) and (max-width:426px) {
    .About-me p {
        width: 100%;
    }
}