@import 'src/index.scss';

.About-me {
    padding: 20px 20px 0 20px;
    & h2 {
        display: flex;
        justify-content: flex-start;
        font-family: $headline-font;
        font-size: 3em;
        margin: 20px 0 50px 0;
        animation: track-in 1.5s forwards;
        @include track-in-animation(track-in);
    }
    & p {
        font-family: $text-font;
        font-size: 1.5em;
        margin-bottom: 20px;
        animation: track-in 3s forwards;
        @include track-in-animation(track-in);
    }
}