@import 'src/index.scss';

.Services {
    margin: 16px 0;
    flex-wrap: wrap;
    display: flex;
    &__items {
        margin: 16px 0;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 32px;
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        & h3 {
            font-family: $headline-font;
            margin: 16px 0;
            font-size: 20px;
        }
        & p {
            font-family: $text-font;
            font-size: 16px;
        }
        &:nth-child(1) {
            margin-right: auto;
            box-shadow: -5px -5px 20px 10px rgba(0,0,0,0.1);
        }
        &:nth-child(2) {
            margin-left: auto;
            align-items: flex-end;
            text-align: right;
            box-shadow: 5px -5px 20px 10px rgba(0,0,0,0.1);
        }
        &:nth-child(3) {
            margin-right: auto;
            box-shadow: -5px 5px 20px 10px rgba(0,0,0,0.1);
        }
        &:last-child {
            margin-left: auto;
            align-items: flex-end;
            text-align: right;
            box-shadow: 5px 5px 20px 10px rgba(0,0,0,0.1);
        }
    }
}
@media (max-width:1439px) {
    .Services__items {
        width: 100%;
    }
}


@media (max-width: 767px) {
    .Services__items {
        padding: 32px;
    }

}

@media (min-width: 320px) and (max-width: 426px) {
    .Services__items p{
        font-size: 16px;
    }
    .Services__items h3 {
        font-size: 20px;
        margin: 0 0 4px 0;
    }
    .Services__items img {
        width: 28px;
        height: 28px;
    }
}

