@import 'src/index.scss';


.Hero {
    text-shadow: 1px 0px 5px rgba(126, 96, 38, 0.2);
    width: 60%;
    padding: 20px;
    animation: track-in 3s forwards;
    @include track-in-animation(track-in);
    &__h2 {
        display: flex;
        justify-content: flex-start;
        font-family: $headline-font;
        color: $secondary-color;
        font-size: 3em;
        margin-top: 20px;
    }
    &__h3 {
        margin-top: 10px;
        font-family: $headline-font;
        font-size: 1.5em;
    }
    &__p {
        margin: 30px 20px 20px 0;
        width: 90%;
        font-family: $text-font;
        font-size: 27px;
    }
}