@import 'src/index.scss';

.Hero {
    margin: 105px 0 105px 105px;
    width: 50%;
    padding: 10px;
    margin-left: 300px;
    &__h1 {
        font-family: $headline-font;
        font-size: 2em;
        margin-top: 20px;
    }
    &__h2 {
        margin-top: 10px;
        font-family: $headline-font;
    }
    &__p {
        margin: 10px 20px 20px 0;
        width: 90%;
        font-family: $text-font;
        font-size: 25px;
    }
}