@import 'src/index.scss';

#cookies {
    z-index: 100;
    box-sizing: border-box;
    padding: 12px;
   position: fixed;
   right: 0;
   top: 0;
   text-align: left;
   width: 202px;
   background-color: $secondary-color;
   border: solid 2px $text-color;
   margin: 4px;
   box-shadow: $main-shadow;
   .cookie {
    color: $primary-color;
    display: flex;
    flex-direction: column;
    &__btn {
        padding: 4px;
    }
   }
}

@media (min-width:320px) and (max-width:426px) {
    #cookies {
        top: 40%;
    }
}