@import 'src/index.scss';

.logo {
    gap: 8px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
        box-shadow: $main-shadow;
    }
    & p {
        font-family: $headline-font;
        color: $secondary-color;
        font-weight: bold;
    }
}

#header {
    background-color: $bg-color;
    box-sizing: border-box;
    box-shadow: $main-shadow;
    margin-top: 32px;
    padding: 8px 32px;
}
.header__h1 {
    margin: 32px 0;
    font-size: $font-60;
    font-weight: bold;
    font-family: $text-font;
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    width: 100%;
}
.header__sec-text {
    margin: 24px 0 0 0;
    color: $secondary-color;
    height: 62px;
    width: 600px;
}
blockquote {
    margin-bottom: 8px;
    cite {
        font-size: $font-16;
        color: $text-color;
    }
}
.header__logo {
    margin: 0 8px 0 0;
}

.article-space {
    justify-content: space-between;
    margin: 0 32px;
}
.header__text {
    margin: 0 32px;
    .header__button {
        width: 180px;
        padding: 4px 0;
        border-radius: 4px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 8px;
    }
}
.header__pp {
    display: flex;
    justify-content: flex-end;
}

@media (max-width:767px) {
    .header__h1 {
        font-size: $font-36;
    }
}

@media (min-width: 320px) and (max-width: 426px) {
    .header__h1 {
        text-align: center;
        font-size: $font-28;
    }
    .header__sec-text {
        margin: 8px 0;
        height: 22px;
    }
    cite {
        font-size: $font-12;
    }
    .header__pp img {
        width: 140px;
        height: 140px;
    }
}


@media (min-width: 320px) and (max-width: 768px) {
    .header__sec-text {
        width: 240px;
    }
}

@media (min-width: 767px) and (max-width: 1025px) {
    .header__h1 {
        font-size: 24px;
        text-align: center;
    }

    .header__pp img {
        width: 180px;
        height: 180px;
    }

}

@media (min-width: 426px) and (max-width: 767px) {
    .header__pp img {
        width: 140px;
        height: 140px;
    }
    blockquote cite {
        font-size: $font-12;
    }
}
