@import 'src/index.scss';

.loader {
    background: $primary-color;
    width: 100vw;
    height: 100vh;
    &, &__text {
      display: flex;
      justify-content: center;
    }
    &__text {
        font-family: $headline-font;
        align-items: center;
        color: $text-color;
        font-size: $font-28;
    }
    &__progress {
        border: 3px solid $secondary-color;
        width: 148px;
        height: 16px;
        background: linear-gradient($sun-color, $sun-color) 0/0% no-repeat $primary-color;
        position: absolute;
        bottom: 40%;
        animation: l1 1s forwards linear;
        @include background-size-animation(l1);
  }
  &__spinner {
    color: $secondary-color;
    position: absolute;
    left: -40px;
    bottom: -4px;
    font-size: $font-24;
    animation: spin 1.5s linear infinite;
    @include spin-animation(spin);
  }
}



                
