@import 'src/index.scss';

* {
	margin: 0;
	padding: 0;
}

.Hero-Pages {
    display: flex;
}

body, html, main, #root {
    min-height: 1014px;
    background-color: $primary-color;
}

main {
    display: flex;
    flex-direction: column;
}