@import 'src/index.scss';

* {
	margin: 0;
	padding: 0;
}

.Hero-Pages {
    display: flex;
}

body, html, main, #root {
    min-height: 100vh;
    background-color: #FAF5EF;
    display: flex;
    flex-direction: column;
}

.Article {
    margin:0 234px 48px 234px;
    
}

.Article-hero {
    display: flex;
}

.Article-side {
    margin-top: 48px;
}

body::-webkit-scrollbar {
    width: 0.75rem;
}

body::-webkit-scrollbar-track {
    background: $secondary-color;
}

body::-webkit-scrollbar-thumb {
    background: $sun-color;
}

.border-radius {
    border-radius: 4px;
}

.top-left-radius {
    border-top-left-radius: 4px;
}
.top-right-radius {
    border-top-right-radius: 4px;
}
.bottom-left-radius {
    border-bottom-left-radius: 4px;
}
.bottom-right-radius {
    border-bottom-right-radius: 4px;
}

.margin-16 {
    margin: 16px 0;
}
.padding-8 {
    padding: 8px;
}

@media (max-width:1024px) {
    .Article-hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width:1024px) and (max-width: 1439px) {
        .Article {
            margin: 24px 8%;
        }
}
@media (min-width: 427px) and (max-width: 1024px) {
        .Article {
            margin: 20px 4%;
        }
}

@media (min-width: 320px) and (max-width: 426px) {
        .Article {
            margin: 12px;
        }
}



