@import 'src/index.scss';

.Works {
  display: flex;
  flex-direction: column;
    width: 100%;
    .slider {
        display: flex;
        flex-direction: column;
        justify-content: center;
      width: 100%;
      img {
        box-sizing: border-box;
        object-fit: cover;
        border-radius: 5px;
        width: 100%;
      }
      .btn1, .btn2 {
        width: 50%;
      }
      .btn-display {
        display: flex;
        justify-content: center;
        margin-top: 5px;
      }
      .btn-style {
        cursor: pointer;
        padding: 5px 7px;
        background-color: white;
        font-size: 16px;
        border-radius: 5px;
        &:hover {
            opacity: 0.8;
        }
      }
    }
    & p {
      margin: 16px auto; 
      display: flex;
      justify-content: center;
      font-family: $text-font;
      line-height: 28px;
      margin: 16px 0;
      font-size: 16px;
      animation: track-in 3s forwards;
      @include track-in-animation(track-in);
    }
  }
  @media (max-width: 1024px) {
    .Works p {
      margin: 24px 0;
    }
  }

  @media (min-width:320px) and (max-width:425px) {
    .Works img{
      height: 180px;
    }
  }

  @media (min-width:320px) and (max-width:1024px) {
    .Works {
      flex-direction: column-reverse;
    }
  }