$primary-color: #EEE1C6;
$secondary-color: #832116;
$text-color: #1d1e22;
$sun-color: #FDBB30;
$bg-skelet-color:grey;
$main-skelet-color:black;

:root {
    --clr-primary-400: hsl(41, 98%, 59%);
    --clr-primary-900: hsl(228, 8%, 12%);
  }