$primary-color: #FAF5EF;
$secondary-color: #034f2c;
$bg-color: #ebe4dd;
$text-color: #1d1e22;
$sun-color: #d1bc66;

$main-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
$icon-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

:root {
    --clr-primary-400: hsl(48, 54%, 61%);
    --clr-primary-900: hsl(228, 8%, 12%);
  }