$primary-color: #FAF5EF;
$secondary-color: #832116;
$text-color: #1d1e22;
$sun-color: #FDBB30;
$bg-skelet-color:#C0C0C0;
$main-skelet-color:#848884;

:root {
    --clr-primary-400: hsl(41, 98%, 59%);
    --clr-primary-900: hsl(228, 8%, 12%);
  }