@import 'src/index.scss';

.Contact {
    display: flex;
    &__me p, .Input-container input::placeholder, #Message::placeholder, .container-form label, .Contact__form p, #form-btn {
        font-size: $font-16;
    }
    &__me {
        width: 50%;
        & p {
            font-family: $text-font;
            width: 60%;
            line-height: 20px;
        }
    }
    &__form {
        width: 50%;
        .container-form {
            margin: 12px 0;
            .Input-container {
                display: flex;
                flex-direction: column;
                & input::placeholder, #Message::placeholder{
                    font-family: $headline-font;
                }
                & input, textarea {
                    border: 2px solid $secondary-color;
                }
                & input {
                    font-family: $text-font;
                    height: 20px;
                }
                textarea {
                    height: 72px;
                    margin-bottom: 8px;
                }
            }
            & label {
                font-family: $headline-font ;
                margin: 4px 0;
            }

        }
    }
    .Contact__form {
        position: relative;
    }
    .message {
        position: absolute;
        font-family: $headline-font;
        font-weight: bold;
        &__green {
            color: green;
        }
        &__red {
            color: red;
        }
    }
}

@media (min-width:320px) and (max-width:425px) {
    .Contact {
        flex-direction: column;
        &__me, &__me p, &__form {
            width: 100%;
        }
    }
}

#form-btn {
    cursor: pointer;
    font-family: $headline-font;
    padding: 4px;
    width: 100%;
    background-color: $sun-color;
    color: $secondary-color;
    border: 2px solid $secondary-color;
    font-weight: bold;
    &:hover {
        opacity: 0.8;
    }
}