@import 'src/index.scss';

.Header {
    display: flex;
    justify-content: space-between;
    height: 105px;
    &__h1 {
        font-family: $headline-font;
        font-size: 2em;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 20px;
    }
    &__logos {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__logo {
        padding: 20px;
        &:hover {
            scale: 1.1;
        }
    }
    &__sec-text {
        margin-left: 15px;
        color: $secondary-color;

    }
    &__about-me {
        cursor: pointer;
        font-family: $headline-font;
        font-size: 1.5em;
        color: $secondary-color;
        &:hover {
        scale: 1.1;
        }
    }
}

