@import 'src/index.scss';

.Header {
    display: flex;
    margin-top: 40vh;
    height: 100vh;
    &__h1 {
        font-size: 76px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    &__sec-text {
        color: $secondary-color;
    }
}

@media (max-width:767px) {
    .Header {
        display: flex;
        flex-direction: column;
    }
    .Header__h1 {
        font-size: 36px;
    }
}
