@import 'src/index.scss';

.Header {
    display: flex;
    height: 105px;
    margin-left: 100px;
    &__h1 {
        font-family: $headline-font;
        font-size: 3em;
        margin-left: 200px;
        min-width: 900px;
        display: flex;
        align-items: center;
        padding: 10px;
    }
    &__logos {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__logo {
        padding: 20px;
        &:hover {
            scale: 1.1;
        }
    }
    &__sec-text {
        margin-left: 15px;
        color: $secondary-color;

    }
}

