@import 'src/index.scss';

.Navbar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $primary-color;
    box-sizing: border-box;
    height: 100vh;
    width: 100px;
    font-size: 2em;
    font-family: $headline-font;
    background: $secondary-color;
    border-right: 4px solid $text-color;
    list-style: none;
    &:not(:hover) {
        transition: width 0.4s ease;
    }
    &:hover &__title {
        display: block;
        text-shadow: 1px -2px 5px rgba(0, 0, 0, 0.8);
        animation: expand 0.3s ease;
        @include expand-animation(expand);
    }
    &:hover &__text {
        text-shadow: -1px 2px 5px rgba(0, 0, 0, 0.8);
        display: block;
        animation: expand 0.4s ease;
        @include expand-animation(expand);
    }
    &:hover {
        width: 300px;
        transition: width 300ms ease;
        
    }
    &:hover &__icon {
        animation: dropdown-180 0.5s forwards;
        @include dropdown-animation-180(dropdown-180);
        margin-right: 10px;
    }
    &__display {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
        padding: 5px 0px;
        &:nth-child(5) {
            margin-top: 150px;
        }
        &:hover {
            color: $sun-color;
            transition: color 200ms ease;
            background-color: $alternative-color;
        }
    }

    &__icon {
        color: $sun-color;
        width: 1em;
        font-size: 1.5em;
        margin: 20px 5px;
        animation: dropdown-0 0.5s ;
        @include dropdown-animation-0(dropdown-0);
        &:not(:hover) {
            animation: dropdown-reset 0.5s forwards;
            @include dropdown-animation-reset(dropdown-reset);
        }
    }
    &__title {
        color: $sun-color;
        margin: 20px 0;
        display: none;
    }
    &__text {
        display: none;
    }
    &__tab-icon {
        margin: 10px;
        width: 25px;
        height: 25px;
    }
    &__tab-size {
        padding-right: 10px;
    }
}
