@import 'src/index.scss';

.Navbar {
    color: $primary-color;
    font-size: 2em;
    font-family: $headline-font;
    background: $secondary-color;
    border-right: 4px solid $text-color;
    list-style: none;
    &:not(:hover) {
        transition: width 0.4s ease;
    }
    &:hover &__title, &:hover &__text {
        display: block;
        text-shadow: 1px -2px 5px rgba(0, 0, 0, 0.8);
        animation: expand 0.3s ease;
        @include expand-animation(expand);
    }
    &:hover {
        width: 300px;
        transition: width 300ms ease;
        
    }
    &:hover &__icon {
        animation: dropdown-180 0.5s forwards;
        @include dropdown-animation-180(dropdown-180);
        margin-right: 10px;
    }
    &__display {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
        padding: 5px 0px;
        &:nth-child(5) {
            margin-top: 150px;
        }
        &:hover {
            color: $sun-color;
            transition: color 200ms ease;
        }
    }
    &__icon {
        color: $sun-color;
        width: 1em;
        font-size: 1.5em;
        margin: 20px 5px;
        animation: dropdown-0 0.5s ;
        @include dropdown-animation-0(dropdown-0);
        &:not(:hover) {
            animation: dropdown-reset 0.5s forwards;
            @include dropdown-animation-reset(dropdown-reset);
        }
    }
    &__tab-icon {
        margin: 10px;
        width: 25px;
        height: 25px;
    }
    &__title {
        color: $sun-color;
        margin: 20px 0;
    }
    &__text {
        display: none;
        font-size: 0.8em;
    }
}


@media (max-width: 1024px) {
    .Navbar:hover {
        width: auto; 
        transition: none;
    } 
    .Navbar:hover .Navbar__title, .Navbar:hover .Navbar__text {
        display: none;
        text-shadow: none;
        animation: none;
    }
    .Navbar:hover .Navbar__icon {
        animation: none;
        margin-right: 0;
    }
    .Navbar__display:nth-child(5) {
        margin-top: 0;
    }
    .Navbar-position {
        display: flex;
        flex-direction: row;
        height: 7%;
        width: 100%;
    }
}


