@import 'src/index.scss';

.navbar {
  position: fixed;
  background-color: $secondary-color;
  transition: width 250ms linear;
  border-right: 4px solid $text-color;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
  &:first-child {
    margin: 20px 0;
  }
  &:nth-child(6) {
    margin-top: auto;
  }
}

.nav-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 5rem;
  color: $primary-color;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s; 
}

.link-text {
  font-weight: bold;
  font-family: $headline-font;
  margin-left: 1rem;
  font-size: calc(1rem + 0.390625vw);
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

@media only screen and (max-width: 1439px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    z-index: 1;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }
  .link-text {
    text-indent: -9999px;
  }
}

@media only screen and (min-width: 1439px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 280px;
  }

  .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}

.nav-link:hover {
  background-color: $sun-color; 
  color: $text-color; 
}

.nav-item:first-child .nav-link:hover {
  background-color: $text-color; 
  color: $sun-color; 
}

@media (max-width:555px) {
  .nav-link svg {
    margin: 0;
  }
}
