@import 'src/index.scss';


// Header
.Skeleton-header {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 300px;
    height: 50px;
    border-radius: 3px;
    background-color: $bg-skelet-color;
    &__text {
        width: 50%;
        height: 30px;
        border-radius: 3px;
        background-color: $main-skelet-color;
        margin-left: 20px;
    }
    &__logo{
        display: flex;
        &s {
            margin: 10px 20px;
            width: 30px;
            height: 30px;
            background-color: $main-skelet-color;
        }
    }
}

// Navbar
.display-col {
    display:flex;
    flex-direction: column;
}
.Skeleton-navbar {
    position: fixed;
    align-items: center;
    height: 100vh;
    width: 80px;
    background-color: $bg-skelet-color;
    &__bottom {
        margin-top: auto;
    }
    &__element {
        border-radius: 3px;
        width: 30px;
        height: 30px;
        background-color: $main-skelet-color;
        margin: 25px;
        &:first-child {
            margin-top: 45px;
        }
    }
    &__top {
        margin-top: 20px;
        .Skeleton-navbar__element1 {
            border-radius: 3px;
            margin: 25px 0 50px 0;
        }
    }

}

// Hero 
.Skeleton-hero {
    display: flex;
    align-items: center;
    border-radius: 3px;
    margin: 100px 300px 0 300px;
    width: 100%;
    height: 539px;
    .Skeleton-text {
        border-radius: 3px;
        box-sizing: border-box;
        width: 55%;
        background-color: $bg-skelet-color;
        margin: 20px;
        height: 90%;
        &__h1 {
            margin: 20px 20px 50px 20px;
            width: 90%;
            height: 30px;
            background-color: $main-skelet-color;
        }
        &__h2 {
            margin: 20px 20px 100px 20px;
            width: 75%;
            height: 25px;
            background-color: $main-skelet-color;
        }
        &__p {
            margin: 50px 20px; 
            width: 90%;
            height: 35px;
            background-color: $main-skelet-color;
        }
    }   
    .Skeleton-card {
        margin: 20px;
        border-radius: 3px;
        box-sizing: border-box;
        width: 45%;
        height: 90%;
        background-color: $bg-skelet-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__round {
            margin: 20px;
            width: 200px;
            height: 200px;
            background-color: $main-skelet-color;
            border-radius: 50%;
        }
        &__bottom {
            display: flex;
            .Skeleton-card__square {
                margin: 70px 20px 20px 20px;
                width: 150px;
                height: 70px;
                background-color: $main-skelet-color;
            }
        }
    }
}

// About-me
.Skeleton-about-me {
    border-radius: 3px;
    margin: 120px 300px 0 300px;
    height: 500px;
    background-color: $bg-skelet-color;
    &__h2 {
        border-radius: 3px;
        width: 220px;
        height: 70px;
        background-color: $main-skelet-color;
        margin: 20px;
    }
    &__text {
        border-radius: 3px;
        width: 90%;
        height: 50px;
        background-color: $main-skelet-color;
        margin: 40px 20px;
    }
}

// Works
.Skeleton-works {
    border-radius: 3px;
    margin: 100px 300px 0 300px;
    height: 970px;
    background-color: $bg-skelet-color;
    &__img {
        border-radius: 3px;
        width: 100%;
        height: 410px;
        background-color: $main-skelet-color;
    }
    &__p {
        margin: 50px;
        height: 75px;
        background-color: $main-skelet-color;
    }
}