@import 'src/index.scss';

.Skeleton-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100px;
    height: 100vh;
    background-color: grey;
    opacity: 0.2;
    border-right: 5px solid black;
    &__element1 {
        width: 80px;
        height: 50px;
        background-color: black;
        margin: 30px;
        border-radius: 3px;
    }
    &__element2 {
        width: 50px;
        height: 50px;
        background-color: black;
        margin: 10px 0;
        border-radius: 4px;
    }
    &__bottom {
        margin-top: 130px;
    }
    &__pulse {
        animation: pulse 0.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
        @include pulse-animation(pulse)
    }
}

