@import 'src/assets/Mixins/Animation.scss';
@import 'src/assets/Variables/Variables.scss';
@import 'src/assets/Styles/Fonts.scss';

.pulse {
    animation: pulse 0.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    @include pulse-animation(pulse)
}

h2 {
    font-family: $headline-font;
    color: $secondary-color;
    font-size: 36px;
}

