@font-face { 
    font-family: 'Bagnar Regular'; 
    src: 
        url('/BagnardSans.woff2')  
        format('woff2'); 
} 

@font-face { 
    font-family: 'Cotham Sans'; 
    src: 
        url('/CothamSans.woff2')  
        format('woff2'); 
} 

$headline-font: 'Bagnar Regular';
$text-font: 'Cotham Sans';


