@font-face { 
    font-family: 'Bagnar Regular'; 
    src: 
        url('/BagnardSans.otf')  
        format('opentype'); 
} 

@font-face { 
    font-family: 'Cotham Sans'; 
    src: 
        url('/CothamSans.otf')  
        format('opentype'); 
} 

$headline-font: 'Bagnar Regular';
$text-font: 'Cotham Sans';


