@import 'src/index.scss';

.Auto-slider-container {
    display: flex;
    justify-content: center;
    .scroller {
        max-width: 72%;
        &__inner {
            padding-block: 16px;
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
        }

        &[data-animated="true"] {
            overflow: hidden;
            -webkit-mask: linear-gradient(
                90deg,
                transparent,
                white 20%,
                white 80%,
                transparent
            );
            mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
            
            & .scroller__inner {
                width: max-content;
                flex-wrap: nowrap;
                animation: scroll var(--_animation-duration, 40s)
                    var(--_animation-direction, forwards) linear infinite;
                @include auto-scroll-animation(scroll);
            }
        }

        &[data-speed="slow"] {
            --_animation-duration: 20s;
        }
    }

    .tag-list {
        margin: 0;
        padding-inline: 0;
        list-style: none;

        li {
            padding: 6px 8px;
            background: var(--clr-primary-400);
            border-radius: 0.5rem;
            box-shadow: 0 4px 8px -0.4px var(--clr-primary-900);
        }
    }
}
h2 {
    display: flex;
    justify-content: flex-start;
 }

 @media (min-width:320px) and (max-width:425px) {
    .Auto-slider-container .tag-list li {
        padding: 5px 8px;
    }
 }