@import 'src/index.scss';

.Auto-slider-container {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
  padding: 30px;
    .scroller {
        max-width: 800px;

        &__inner {
            padding-block: 1rem;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }

        &[data-animated="true"] {
            overflow: hidden;
            -webkit-mask: linear-gradient(
                90deg,
                transparent,
                white 20%,
                white 80%,
                transparent
            );
            mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
            
            & .scroller__inner {
                width: max-content;
                flex-wrap: nowrap;
                animation: scroll var(--_animation-duration, 40s)
                    var(--_animation-direction, forwards) linear infinite;
                @include auto-scroll-animation(scroll);
            }
        }

        &[data-speed="slow"] {
            --_animation-duration: 100s;
        }
    }

    .tag-list {
        margin: 0;
        padding-inline: 0;
        list-style: none;

        li {
            padding: 1rem;
            background: var(--clr-primary-400);
            border-radius: 0.5rem;
            box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
        }
    }
}
